/*.fondo {
  background-image: url(./assets/running2.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}*/

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,500&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}



h3 {
  font-size: 30px;
}
a {
  color: #fff;
  text-align: center;
  margin: 0;
  /* margin-bottom: 20px;*/
  text-decoration: none;
}

header {
  width: 100%;
  height: auto;

  background-color: #007cba;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

li {
  list-style: none;
}
.info {
  width: 100%;
  background-color: #007cba;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.aire {
  display: flex;
}
form {
  display: flex;
  height: 30%;
  width: 60%;
  max-width: 100%;
  max-height: 30%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 40px;
  border-radius: 7px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  color: #000000;
  box-sizing: border-box;
  border-color: #007cba;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}

.radio {
  --border-radius: 50%;

  padding: 5px;
}

.checkbox {
  --border-radius: 0;

  padding: 5px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  display: none;
}

.radio label,
.checkbox label {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;

  border: 3px solid black;
  border-radius: var(--border-radius);

  box-sizing: border-box;
}

.radio label::before,
.checkbox label::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;

  border-radius: var(--border-radius);

  background-color: transparent;

  transform: translate(-50%, -50%);

  transition: background-color 0.25s;
}

.radio :checked ~ label::before,
.checkbox :checked ~ label::before {
  background-color: #007cba;
}

.radio span,
.checkbox span {
  color: #000000;

  vertical-align: top;

  transition: color 0.25s;
}

.radio :checked ~ span,
.checkbox :checked ~ span {
  color: #007cba;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

#agregar {
  color: #000009;
  margin-top: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#alinearIzq{
display:flex ;
justify-content: flex-start;
}*/
