@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,500&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/*Estilo del menu hamburguesa*/
h1 {
  margin-top: auto;
  font-size: 50px;
}

.item {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}
header {
  width: 100%;
  background-color: #007cba;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
}

header ul {
  display: none;
}

header h1 {
  line-height: 8vh;
  margin-left: 0.5em;
}

.menu-button {
  display: inline-block;
  margin: 1vh;
  height: 6vh;
  width: 6vh;
  border: 1px solid black;
  line-height: 6vh;
  text-align: center;
}
input:checked ~ ul {
  display: block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover {
  background: #1eabf1;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
  background: #1eabf1;
}

ul {
  margin-top: 0;
  padding: 0;
  width: 200px;
}

li {
  display: block;
  /* background: #1eabf1;*/
  margin: 0;
  padding: 10px;
  list-style: none;
  /* border-bottom: 1px solid #0a5175;*/
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
  filter: brightness(110%);
}

/*----------------------------MAIN-----------------------------*/
.main {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/running4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  animation-duration: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgAventura {
  max-width: 100%;
}

/**********ESTILOS DE SPONSORS*************/
#imgSignal {
  height: 200%;
  width: 200%;
  max-width: 50%;
  max-height: 50%;
}

/*#imgAjuste2 {
  height: 400px;
  width: 400px;
  max-width: 50%;
  max-height: 50%;
}
*/

.slider {
  width: 100%;
  overflow: hidden;
}
.slider ul {
  display: flex;
  align-items: center;
  animation: cambio 25s infinite alternate linear;
  width: 300%;
}
.slider li {
  width: 10%;
  list-style: none;
}
.slider img {
  width: 65%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider,
  .slider ul,
  .slider img {
    height: 100vh;
  }
}*/

/***************ESTILOS DEL FOOTER********************/
.footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 25vh;
  padding: 5rem;
  background-color: #000000;
  color: #ffffff;
  flex-direction: row;
}

/********ICONOS DE LAS REDES SOCIALES***************/
/*agregar recuadro?*/
.fab {
  text-decoration: none;
  color: #007cba;
}

/*******------------INFORMACION------------********/

h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  color: #1eabf1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.info {
  width: 100vw;
  font-size: 2rem;
  background-color: #007cba;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*.centrarInfo {
  margin-top: 1rem;
  color: #007cba;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  flex-direction: row;
}*/

.ubicarInfo {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.ubicarInfo2 {
  display: flex;
  justify-content: center;
}

.resaltar {
  display: flex;
  font-weight: bold;
  color: rgb(50, 54, 57);
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

span {
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/*ESTILOS EN GALERIA*/
.kit-ubicar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

h3 {
  color: #1eabf1;
}

.camiseta {
  margin: 10px 15px 10px 15px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  height: 20rem;
  width: 18rem;
}

#imgGaleria {
  height: 100%;
  width: 90%;
}
