@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0;
}

.header {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  height: 9%;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: solid 0.1px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  text-decoration: none;*/
}

h1 {
  margin-top: auto;
  font-size: 50px;
}

.titulo {
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menu {
  position: absolute;
  top: 30px;
  right: 20px;
}
.item {
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

/*Estilo del menu hamburguesa*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #007cba;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: none;
}

header h1 {
  line-height: 8vh;
  margin-left: 0.5em;
}

.menu-button {
  display: inline-block;
  margin: 1vh;
  height: 6vh;
  width: 6vh;
  border: 1px solid black;
  line-height: 6vh;
  text-align: center;
}
input:checked ~ ul {
  display: block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover {
  background: #007cba;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
  background: #007cba;
}

ul {
  margin-top: 0;
  padding: 0;
  width: 200px;
}

li {
  display: block;
  background: #007cba;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #0a5175;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
  filter: brightness(110%);
}

/*---------------------------------------------------------*/
.main {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 85vh;
  width: auto;
}

.avanza-20k {
  margin-top: 80px;
  width: 540px;
  height: 600px;
  display: inline-block;
}

.principal1 {
  font-family: "montserrat", sans-serif;
  text-align: center;
  color: #f83600;
}

.principal {
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer {
  display: flex;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  padding-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/*Cambiar esta class*/
.parrafos {
  display: inline-block;
  text-align: left;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 50px;
}

/*Estilos de Informacion*/

.icon {
  width: 200px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: end;
  align-content: space-around;
}

/********KIT********/
.kit-ubicar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

h3 {
  color: #f83600;
  font-family: "Montserrat", sans-serif;
}

.camiseta {
  height: 50%;
  width: 50%;
}

/*******INFORMACION********/

.info {
  background-image: url(./assets/20k.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

/******FOTOS******/
.fotos {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
